
.navi:hover .icofont-money {
  color: rgb(24, 118, 211);
}

.navi:hover .fa-history {
  color: rgb(24, 118, 211);
}

.navi:hover .fa-users {
  color: rgb(24, 118, 211);
}

.main-content {
  grid-area: main-content;
  background: #d3d3d3; 
  padding: 0.6em; 
}

.section-heading {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  justify-content: center; 
}

.history, .loan-head {
  color: rgb(24, 118, 211);
}

.main-loan-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loan-form {
  display: flex;
  flex-direction: column;
  width: 30em;
  border: 0.2em solid rgb(24, 118, 211);
  padding: 1em;
}

.first-can {
  display: flex;
  justify-content: space-between;
  padding: 0.6em;
  align-items: center;
}

.loan-label {
  color: rgb(24, 118, 211);
  font-size: 1.5em;
  font-weight: 500;
}
.input {
  width: 14em;
  font-size: 1.2em;
  padding: 0.3em;
}

.first-action {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  cursor: pointer;
}

.loan-btn {
  padding: 0.6em 2.5em;
  background: rgb(24, 118, 211);
  color: #fff;
  font-weight: 500;
}

.table-header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.table,.th, .tr {
  background: rgb(24, 118, 211);
  color: #fff;
  font-weight: 700; 
}

.sn {
  width: 1em;
  text-align: center;
}

.full_name {
  width: 15em;
  text-align: center;
}

.address {
  width: 19em;
  text-align: center;
}

.state {
  width: 9em;
}

.createdOn {
  width: 9em;
  text-align: start;
}

.status {
  width: 8em;
  text-align: start;
}

.table-header {
  overflow: auto;
  width: 100%;
}

.table-container tr:hover {
  background: rgb(24, 118, 211);
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 500;
}

.table-container {
  display: flex;
  width: 100%;
  height: 24em;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.table-container::-webkit-scrollbar-track,
.table-header::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.table-container::-webkit-scrollbar,
.table-header::-webkit-scrollbar-track
{
	width: 10px;
	background-color: #F5F5F5;
}

.table-container::-webkit-scrollbar-thumb,
.table-header::-webkit-scrollbar-track
{
	border-radius: 10px;
	background: rgb(24, 118, 211);
} 

table {
  width: 100%;
}

th, tr, td {
  padding: 0.9em 0.6em;
  text-align: center;
  font-weight: 500;
}

.loan {
  width: 100%;
  height: 100%;
  display: flex;
  background: #fff;
  flex-direction: column;
  padding: 0.8em;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0em;
}

.analytics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6em;
}

.requested, .repaid, .balance {
  display: flex;
  width: calc((100%/3) - 10px);
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;
  padding: 1em;
}

.ana {
  display: flex;
  font-size: 1.3em;
  font-weight: 700;
  color: rgb(24, 118, 211);
  align-items: center;
}

.applied, .fa-dollar-sign, .fa-money-bill-alt {
  color: rgb(24, 118, 211);
  margin-right: 0.4em;
}

.lytics {
  display: flex;
  margin-top: 0.4em;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: rgb(24, 118, 211);
  font-weight: 500;
}

.lytics-1 {
  display: flex;
}

.user-details {
  display: flex;
  background: #fff;
  flex-direction: column;
  padding: 0.9em;
}

.top-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.approv-btn {
  padding: 0.7em 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  background: rgb(24, 118, 211);
  cursor: pointer;
}

.approv-btn-1 {
  padding: 0.7em 1.5em;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 0.6em;
  background: rgb(24, 118, 211);
  cursor: pointer;
}

.verified {
  display: flex;
  color: greenyellow;
  font-size: 1.5em;
  font-weight: 700;
  align-items: center;

}

.veri-check {
  margin-left: 0.2em;
}

.fm-name {
  display: flex;
  padding: 0.6em;
}

.detn {
  font-size: 1.5em;
}

.detn-1 {
  font-size: 1.5em;
  margin-left: 0.6em;
}

.main-details {
  margin-top: 1em;
}

.clients {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}

.client-card {
  width: 50%;
  height: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgb(24, 118, 211);
  background: #fff;
}

.card-head {
  display: flex;
  width: 100%;
  height: 10em;
  overflow: hidden;
  background: rgb(24, 118, 211);
}

.user-back {
  height: 10em;
  width: 100%;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.card-body {
  width: 100%;
  height: 100%;
  background: rgb(24, 118, 211);
  display: flex;
  flex-direction: column;
}

.user-profile {
  width: 100%;
  height: 8em;
  padding: 0em 1em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: -2.7em;
  left: 0em;
}

.user-images {
  width: 8em;
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2em solid #fff;
  overflow: hidden;
}

.profile-imgs {
  width: 8em;
  height: 8em;
}

.user-brief {
  display: flex;
  width: 30em;
  justify-content: space-between;
  align-items: center;
}

.user-brief-loan {
  display: flex;
  width: 20em;
  justify-content: space-between;
  align-items: center;
}

.profile-user-name {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

.close {
  position: absolute;
  right: 0.4em;
  color: #fff;
  font-size: 2em;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  transform: rotate(45deg);
}

.verify-btn {
  background: white;
  color: rgb(24, 118, 211);
  padding: 0.5em 2em;
  font-size: 1.2em;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.4), 3px 3px 4px 2px rgba(0,0,0,0.2);
  font-weight: 700;
  cursor: pointer;
}


.verify-btn-del {
  background: red;
  color: white;
  padding: 0.5em 2em;
  font-size: 1.2em;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.4), 3px 3px 4px 2px rgba(0,0,0,0.2);
  font-weight: 700;
  cursor: pointer;
}

.verify-btn:hover, .verify-btn-del:hover {
  box-shadow: 0 9px 19px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.user-profile-detail {
  display: flex;
  width: 100%;
  position: relative;
  height:100%;
  top: -3em;
  color: #fff;
  padding: 1.5em;
  flex-direction: column;
}

.user-profile-detail-loan {
  display: flex;
  width: 100%;
  position: relative;
  height:100%;
  top: -3em;
  color: #fff;
  padding: 1.5em;
  flex-direction: column;
}

.user-profile-name {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.user-profile-name-loan {
  display: flex;
  align-items: center;
  margin-bottom: 0.6em;
}

.user-profile-emai {
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-size: 1.3em;
}

.user-profile-emai-loan {
  display: flex;
  align-items: center;
  margin-right: 1em;
  font-size: 1.3em;
}

.user-profile-input {
  font-size: 1.3em;
}

.user-profile-input-loan {
  font-size: 1.3em;
}

.footer {
  grid-area: footer;
  background: rgb(24, 118, 211);
  display: flex;
  align-items: center;
}

.footer-note {
  color: #fff;
  margin-left: 1em;
}

@media only screen and (min-width: 260px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    justify-content: space-between;
    line-height: 1.2em;
    background: rgb(24, 118, 211);
    padding: 0.2em;
    width: 100%;
  }

  .menu-btn {
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    cursor: pointer;
  }

  .profile-img {
    width: 2em;
    height: 2em;
    border: 0.1em solid #fff;
    overflow: hidden;
  }
  
  .pix {
    width: 2em;
    height: 2em;
  }

  .user-name {
    display: none;
  }

  .side-nav {
    display: none;
  }
  
  .side-nav-1 {
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 0.2em;
    background: rgb(24, 118, 211);
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 0.6em;
    z-index: 2;
  }

  .exit-btn {
    display: flex;
    position: absolute;
    color: #fff;
    top: 0.1em;
    right: 0.3em;
    font-size: 1.5em;
    font-weight: 500;
    transform: rotate(45deg);
    cursor: pointer;
  }

  .logo-1 {
    display: flex;
    align-items: center;
    margin-top: 0.8em;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
  }

  .analytics {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
  }

  .top-content {
    display: flex;
    flex-direction: column;
  }

  .action-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .approv-btn {
    padding: 0.7em 1.5em;
    font-weight: 400;
    margin-top: 0.3em;
  }

  .approv-btn-1 {
    display: flex;
    justify-content: center;
    padding: 0.7em 1.5em;
    font-weight: 400;
    margin-top: 0.3em;
  }

  .verified {
    margin-top: 0.3em;
  }

  /* .requested {
    display: flex;
    width: 100%;
    margin-bottom: 0.6em;
  }

  .repaid {
    display: flex;
    width: 100%;
    margin-bottom: 0.6em;
  }

  .balance {
    display: flex;
    width: 100%;
  }

  .lytics {
    font-size: 1em;
  }

  .ana {
    font-size: 1em;
  }
  
  .main-details {
    display: flex;
    flex-direction: column;
  }

  .fm-name {
    display: flex;
    flex-direction: column;
  }

  .detn {
    font-size: 1em;
  }

  .detn-1 {
    font-size: 1em;
    display: flex;
    justify-content: start;
  }

  .table-container {
    overflow: auto;
  }

  .history, .table-container, 
  .loan-label, .loan-head, .input
  .loan-btn {
    font-size: 1em;
  }

  .loan {
    margin: 4.9em 0em;
  }

  .loan-form {
    width: 15em;
    border: 0.2em solid blue;
    padding: 0.3em;
  }
  
  .first-can {
    display: flex;
    flex-direction: column;
    padding: 0.6em;
    align-items: flex-start;
  }
  
  .loan-label {
    color: blue;
    font-size: 1em;
    font-weight: 500;
  }
  .input {
    width: 100%;
    font-size: 1em;
    padding: 0.3em;
  }
  
  .first-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    cursor: pointer;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.15em;
  } */

} 

@media only screen and (min-width: 400px) {
  .action-btn {
    display: flex;
    width: 100%;
    padding: 0.5em;
    flex-direction: row;
    justify-content: space-between;
  }

  .loan-form {
    width: 20em;
    border: 0.2em solid rgb(24, 118, 211);
    padding: 0.3em;
  }
  
  .first-can {
    display: flex;
    flex-direction: column;
    padding: 0.6em;
    align-items: flex-start;
  }
  
  .loan-label {
    color: rgb(24, 118, 211);
    font-size: 1em;
    font-weight: 500;
  }
  .input {
    width: 100%;
    font-size: 1em;
    padding: 0.3em;
  }
  
  .first-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    cursor: pointer;
  }

  .client-card {
    width: 95%;
  }

  .profile-user-name, .user-profile-emai,
  .user-profile-input, .verify-btn {
    margin-left: 0.5em;
    font-size: 1.2em;
  }

  .user-images {
    width: 5em;
    height: 5em;
  }

  .profile-imgs {
    width: 5em;
    height: 5em;
  }
}

@media only screen and (min-width: 600px) {

  .top-content {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
  }
  .action-btn {
    display: flex;
    width: 70%;
    padding: 0em;
    flex-direction: row;
  }

  .main-content {
    padding: 0em 0.6em;
  }

  .user-details {
    margin-bottom: 0.44em;
  }

  .loan {
    margin: 5.2em 0em;
  }

  .loan-form {
    width: 25em;
    border: 0.2em solid rgb(24, 118, 211);
    padding: 0.3em;
  }
  
  .first-can {
    display: flex;
    flex-direction: column;
    padding: 0.6em;
    align-items: flex-start;
  }
  
  .loan-label {
    color: rgb(24, 118, 211);
    font-size: 1em;
    font-weight: 500;
  }
  .input {
    width: 100%;
    font-size: 1em;
    padding: 0.3em;
  }

  .client-card {
    width: 90%;
  }

  .profile-user-name {
    margin-left: 0.5em;
    font-size: 1.5em;
  }
  
  .first-action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    cursor: pointer;
  }
}

@media only screen and (min-width: 800px) {
  
  .client-card {
    width: 75%;
  }

  .main-content {
    padding: 0.6em;
  }

  .analytics {
    margin-top: 0em;
  }

  .main-details {
    margin-bottom: 0em;
  }

  .fm-name {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
  }

  .dashboard {
    margin-bottom: 0em;
  }

  .loan {
    margin: 0em;
  }

  .client-card {
    width: 55%;
    height: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgb(24, 118, 211);
    background: #fff;
  }

}

@media only screen and (min-width: 1062px) {
    
  .approv-btn {
    padding: 0.7em 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    background: rgb(24, 118, 211);
    cursor: pointer;
  }

  .client-card {
    width: 50%;
    height: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgb(24, 118, 211);
    background: #fff;
  }
  
  .approv-btn-1 {
    padding: 0.7em 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 0.6em;
    background: rgb(24, 118, 211);
    cursor: pointer;
  }
  
  .verified {
    display: flex;
    color: greenyellow;
    font-size: 1.5em;
    font-weight: 700;
    align-items: center;
  
  }
  
  .veri-check {
    margin-left: 0.2em;
  }
  
  .fm-name {
    display: flex;margin-bottom: -0.2em;
  }
  
  .detn {
    font-size: 1em;
  }
  
  .detn-1 {
    font-size: 1em;
    margin-left: 0.6em;
  }

  .client-card {
    width: 50%;
    height: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgb(24, 118, 211);
    background: #fff;
  }
  
  .footer-note {
    color: #fff;
    margin-left: 1em;
  }
}