@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.active-menu {
  overflow: hidden;
}

.header {
  display: flex;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.4), 3px 3px 4px 2px rgba(0,0,0,0.2);
  justify-content: space-between;
  line-height: 1.2em;
  background: rgb(24, 118, 211);
  padding: 0.6em;
  z-index: 2;
}

.logo {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 0.98em;
  text-transform: uppercase;
}

.menu-btn {
  position: relative;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  font-size: 1.3em;
}

.navigations {
  display: none;
}

.navigations-active {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: rgb(24, 118, 211);
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.close {
  font-size: 2em;
  color: #fff;
  position: absolute;
  font-weight: 500;
  top: 0.4em;
  text-align: end;
  right: 0.4em;
  transform: rotate(45deg);
  cursor: pointer;
}

.login-btn, .signup-btn {
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.4), 3px 3px 4px 2px rgba(0,0,0,0.2);
}

.navigations a {
  margin-top: 3em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}


.intro {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  padding: 0.6em;
  line-height: 1.6em;
  justify-content: center;
  align-items: center;

}

.intro-heading {
  font-size: 1em;
  color: rgb(24, 118, 211);
  text-align: start;
  text-transform: uppercase;
  margin: -4em 0em 0.6em 0em;
}

.intro-content {
  text-align: center;
  margin-bottom: 0.7em;
  color: #fff;
  text-align: justify;
}

.intro-logo {
  margin: 1.2em auto;
  width: 10em;
  height: 10em;
}

.how-to {
  /* background: blue; */
  padding: 0.6em;
  display: flex;
  margin-top: -7.6em;
  flex-direction: column;
  align-items: center;
}

.how-to-heading {
  color: rgb(24, 118, 211);
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 0.6em;
}

.step-one, .step-two, .step-three, .step-four, .step-five {
  color: rgb(24, 118, 211);
  background: rgb(24, 118, 211);
  margin-bottom: 1em;
  padding: 0.6em;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.4), 3px 3px 4px 2px rgba(0,0,0,0.2);
}

.steps {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(24, 118, 211);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1.5em;
  margin: 1em auto;
  background: #fff;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.4), 3px 3px 4px 2px rgba(0,0,0,0.2);
  border: 0.1em solid #fff;
}

.steps-content {
  color: #fff;
  line-height: 1.6em;
  text-align: center;
  margin-bottom: 1em;   
}

.illustration {
  display: flex;
  width: 13em;
  margin: 1.2em auto;
}


.features {
  display: flex;
  flex-direction: column;
  padding: 1.3em 0.6em 0.6em;
  text-align: center;
  color: #272727;
  line-height: 1.6em;
}

.feature-heading {
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(24, 118, 211);
  margin-bottom: 1.5em; 
}

h3 {
  font-size: 0.8em;
}

.application {
  /* border: 0.02em solid #000; */
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0, 0.4), 3px 3px 4px 2px rgba(0,0,0,0.2);
}

.app-icon {
  display: flex;
  width: 4em;
  margin: 1.5em auto 0.6em;
}

.footer {
  background: rgb(24, 118, 211);
  display: flex;
  width: 100%;
  flex-direction: row;
  color: #fff;
  box-shadow: 1px -1px 2px 2px rgba(0,0,0, 0.4), 3px -3px 4px 2px rgba(0,0,0,0.2);
  font-weight: 800;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  padding: 0.6em;
}

.social-links {
  display: flex;
  font-size: 0.9em;
  justify-content: space-around;
  margin: 0.6em;
  width: 10em;
}

.social-links img {
  width: 1.5em;
  height: 1.5em;
}

.info {
  font-size: 0.7em;
  display: flex;
  width: 20em;
  justify-content: space-between;
  margin: 1.2em 0em;
}

.footer-note {
  font-size: 0.9em;
  margin: 1em 0em;
  text-align: center;
}

@media only screen and (min-width: 400px) {
  .logo {
    font-size: 1em;
  }

  .menu-btn {
    font-size: 1.2em;
  }

  .intro-heading, .how-to-heading, .feature-heading {
    font-size: 1.3em;
  }

  .intro-content, .steps-content, .content {
    font-size: 0.9em;
  }

  .app-icon {
    width: 5em;
  }

  h3, h5 {
    font-size: 1em;
  }

  .icons {
    width: 2.5em;
    height: 2.5em;
  }

  .footer, .info {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 600px) {

  .navigations-active {
    z-index: 2;
  }

  a {
    font-size: 1.3em;
    font-weight: 600;
  }

  .close {
    font-size: 3.5em;
  }

  .intro {
    display: flex;
    padding: 0.6em;
    margin-top: -6em;
    flex-direction: row;
    line-height: 1.6em;
    justify-content: space-between;
  }

  .intro-logo {
    margin-top: -3em;
    width: 12em;
    height: 12em;
  }

  .intro-content {
    font-size: 0.9em;
    line-height: 1.3em;
    text-align: justify;
  }

  .main {
    width: 55%;
  }

  .intro-heading {
    text-align: start;
  }

  .how-to {
    margin-top: -12em;
  }

  .step-one, .step-two, .step-three, .step-four, .step-five {
    position: relative;
    margin: 2.6em 1em;
    padding: 2.7em 1em 0.6em;
    /* border: 0.1em solid #fff; */
  }

  .steps {
    position: absolute;
    z-index: 1;
    top: -2.5em;
    font-size: 1.7em;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: rgb(24, 118, 211);
    width: 3em;
    height: 3em;
  }

  .steps-content {
    font-size: 1em;
    text-align: justify;  
  }

  .features {
    margin: 1em;
  }

  .feature-heading, .how-to-heading {
    font-size: 1em;
  }

  .app-icon {
    width: 7em;
  }

  h3, h5 {
    font-size: 1em;
    margin: 0.6em;
  }

  .content {
    font-size: 1em;
    line-height: 1.5em;
  }

  .icons {
    width: 3.5em;
    height: 3.5em;
  }
}

@media only screen and (min-width: 800px) {

  .navigations-active {
    z-index: 2;
    overflow: hidden;
  }

  a {
    font-size: 2.3em;
    font-weight: 600;
  }

  .close {
    font-size: 4.5em;
  }

  .intro {
    padding: 0em 2em;
  }

  .intro-heading {
    font-size: 1.5em;
    margin-top: -3em;
  }

  .intro-content {
    font-size: 1em;
  }
  
  .intro-logo {
    margin: -2em auto;
    width: 15em;
    height: 15em;
  }

  .how-to {
    display: grid;
    grid-template-rows: 5em 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'heading heading'
    'how-to-one how-to-two'
    'how-to-three how-to-four'
    'how-to-five how-to-six';
    margin-top: -17em;
  }

  .how-to-heading {
    grid-area: heading;
    text-align: center;
  }

  .steps {
    left: 50%;
    transform: translateX(-50%);
  }

  .step-one {
    grid-area: how-to-one;
    height: 23em;
    padding-top: 4em;
  }

  .step-two {
    grid-area: how-to-two;
    height: 23em;
    padding-top: 4em;
  }

  .step-three {
    grid-area: how-to-three;
    height: 23em;
    padding-top: 4em;
  }

  .step-four {
    grid-area: how-to-four;
    height: 23em;
    padding-top: 4em;
  }

  .step-five {
    grid-area: how-to-five;
    padding-top: 4em;
  }

  .features {
    display: grid;
    grid-template-rows: 5em 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-template-areas: 
    'heading heading'
    'feature-one feature-two'
    'feature-three feature-four'
    'feature-five feature-six';
  }

  .feature-heading {
    grid-area: heading;
  }

  .feature-two {
    grid-area: feature-two;
  }

  .feature-three {
    grid-area: feature-three;
  }

  .feature-four {
    grid-area: feature-four;
  }

  .feature-five {
    grid-area: feature-five;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 5em;
  }

  .social-links {
    width: 10em;
    display: flex;
    align-items: center;
  }

  .icons {
    width: 2em;
    height: 2em;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h5 {
    font-size: 1em;
  }

  /* .footer-note {
    grid-area: footer;
  } */
}

@media only screen and (min-width: 950px) {
  .header {
    display: flex;
    padding: 1em;
    align-items: center;
    z-index: 2;
  }

  .logo {
    /* font-size: 1.5em; */
    margin-left: -0.05em;
  }

  .menu-btn {
    display: none;
  }
  
  .navigations {
    display: flex;
    align-items: center;
  }

  .navigations .login-btn {
    padding: 0.4em 1em;
    background: #fff;
    color: rgb(24, 118, 211);
    border: 0.1em solid #fff;
    border-radius: 0.2em;
    font-weight: 500;
  }

  .navigations .login-btn:hover, .navigations .signup-btn:hover {
    box-shadow: 0px 9px 19px rgba(0, 0, 0, 0.5);
  }

  .navigations .signup-btn {
    padding: 0.4em 1em;
    color: #fff;
    border: 0.1em solid #fff;
    border-radius: 0.2em;
    font-weight: 500;
  }

  .navigations .nav:hover {
    color: #fff;
  }

  .navigations a {
    margin-top: 0em;
    text-decoration: none;
    color: rgb(228, 226, 226);
    text-transform: uppercase;
    font-weight: 700;
  }

  a {
    color: #000;
    font-size: 1em;
    margin-left: 1.5em;
  }

  .close {
    display: none;
  }

  .intro {
    margin: 0em;
    height: 100vh;
    padding: 2em;
  }

  .main {
    margin-top: -10em;
  }

  .intro-heading {
    font-size: 2em;
    text-align: start;
  }

  .intro-content {
    font-size: 1em;
    color: #fff;
  }
  
  .intro-logo {
    /* margin: -5em auto; */
    width: 19em;
    height: 19em;
    position: relative;
    top: -4.5em;
  }

  .how-to {
    display: grid;
    grid-template-rows: 5em 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'heading heading heading'
    'how-to-one how-to-two how-to-three'
    'how-to-four how-to-five how-to-six';
    margin-top: -17em;
  }

  .how-to-heading {
    grid-area: heading;
    text-align: center;
  }

  .steps {
    left: 50%;
    transform: translateX(-50%);
  }

  .steps-content {
    margin-top: 1.2em;
    padding: 0.5em;
    font-size: 1em;
  }

  .step-one {
    grid-area: how-to-one;
    height: 24em;
  }

  .step-two {
    grid-area: how-to-two;
    height: 24em;
  }

  .step-three {
    grid-area: how-to-three;
    height: 24em;
  }

  .step-four {
    grid-area: how-to-four;
    height: 24em;
  }

  .step-five {
    grid-area: how-to-five;
    height: 24em;
  }

  .features {
    display: grid;
    grid-template-rows: 5em 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-template-areas: 
    'heading heading heading'
    'feature-one feature-two feature-three'
    'feature-four feature-five feature-six';
  }

  .feature-heading {
    grid-area: heading;
  }

  .feature-two {
    grid-area: feature-two;
  }

  .feature-three {
    grid-area: feature-three;
  }

  .feature-four {
    grid-area: feature-four;
  }

  .feature-five {
    grid-area: feature-five;
  }

  .content {
    font-size: 1em;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 5em;
  }

  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons {
    width: 2em;
    height: 2em;
    margin-right: 2em;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h5 {
    margin-left: 2em;
    font-size: 1em;
  }
}
